.Tabs {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background: #dfe4e5;
  color: #111;
}

.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: #111;
  padding-left: 0px;

}
.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
}
.nav li:nth-child(2) {
  border-radius: 0;
}

.nav li.active {
  border-bottom: 2px solid rgb(255, 0, 200);
}

